<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>
    <Appenders>

        <File name="EngineErrors" fileName="logs/errors.log">
            <BurstFilter level="FATAL" rate="16" maxBurst="100"/>
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n"/>
        </File>

        <File name="EngineLog" fileName="logs/engine.log">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </File>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <Root level = "trace">
            <AppenderRef ref="Console" level="trace"/>
            <AppenderRef ref="EngineLog" level="trace"/>
            <AppenderRef ref="EngineErrors" level="error" />
        </Root>
    </Loggers>

</Configuration>